<!DOCTYPE html>
<html>
<head>
    <style>
        html,
        body {
            width: 100vw;
            height: 100vh;
            background: #1b1e21;
            color: #f8f9fa;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    </style>
</head>
<body>
<h1>404</h1>
</body>
</html>
