<!DOCTYPE html>
<html>
<%- include partials/head.ejs -%>
<body>
<!-- Main container -->
<div class="page-container">

    <!-- bloc-0 -->
    <%- include partials/menu.ejs -%>
    <!-- bloc-0 END -->

    <div class="bloc l-bloc scroll-fx-in-fade scroll-fx-zoom-pull" id="bloc-2">
        <div class="container bloc-lg">
            <div class="row">
                <div class="col-md-6">
                    <% if (current.images && current.images.length) {
                        const image = current.images[0];
                    %>
                    <img
                            src="/img/lazyload-ph.png"
                            data-src="<%= image.filename %>"
                            class="img-fluid mx-auto d-block lazyload"
                            alt="<%= image.originalname %>"
                    />
                    <% } %>
                </div>
                <div class="col-md-6 align-self-center">
                    <h2 class="mg-md">
                        <%= current.title %>
                    </h2>
                    <h3 class="mg-md">
                        <%= current.subtitle %>
                    </h3>
                    <p>
                        <%- current.code %>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <!-- ScrollToTop Button -->
    <a class="bloc-button btn btn-d scrollToTop" onclick="scrollToTarget('1',this)"><span
                class="fa fa-chevron-up"></span></a>
    <!-- ScrollToTop Button END-->

    <%- include partials/footer.ejs %>
</div>
<!-- Main container END -->

<%- include partials/scripts.ejs -%>
<!-- Additional JS END -->

<!-- Preloader -->
<div id="page-loading-blocs-notifaction" class="page-preloader"></div>
<!-- Preloader END -->

</body>
</html>
