<!DOCTYPE html>
<html>
<%- include partials/head.ejs -%>
<body>
<!-- Main container -->
<div class="page-container">

    <!-- bloc-0 -->
    <%- include partials/menu.ejs -%>
    <!-- bloc-0 END -->

    <!-- bloc-1 -->
    <div class="bloc l-bloc full-width-bloc" id="bloc-1">
        <div class="container ">
            <div class="row voffset-clear-xs">
                <div class="col-12">
                    <div id="carousel-15318" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">

                            <% _.forEach(current.images, (slider, index) => { %>
                                <li data-target="#carousel-15318" data-slide-to="<%= index %>"
                                    class="<%= index === 0 ? 'active': '' %>">
                                </li>
                            <% }) %>
                        </ol>
                        <div class="carousel-inner" role="listbox">
                            <% _.forEach(current.images, (slider, index) => { %>
                                <div class="carousel-item <%= index === 0 ? 'active': '' %>">
                                    <img class="d-inline-block w-100" alt="<%= slider.filename %>" src="<%= slider.filename %>" />
                                    <div class="carousel-caption">
                                    </div>
                                </div>
                            <% }) %>
                        </div><a class="carousel-nav-controls carousel-control-prev" href="#carousel-15318" role="button" data-slide="prev"><span class="fa fa-chevron-left"></span><span class="sr-only">Previous</span></a><a class="carousel-nav-controls carousel-control-next" href="#carousel-15318" role="button" data-slide="next"><span class="fa fa-chevron-right"></span><span class="sr-only">Next</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- bloc-1 END -->

    <% _.forEach(data.subcontents, (content, index) => { %>
        <div class="bloc l-bloc scroll-fx-in-fade scroll-fx-zoom-pull" id="bloc-<%= index + 2 %>">
            <div class="container bloc-lg">
                <div class="row">
                    <div class="col-md-6<%= index % 2 === 0 ? ' order-md-1' : '' %>">
                        <% if (content.images && content.images.length) {
                            const image = content.images[0];
                        %>
                        <img
                                src="/img/lazyload-ph.png"
                                data-src="<%= image.filename %>"
                                class="img-fluid mx-auto d-block lazyload"
                                alt="<%= image.originalname %>"
                        />
                        <% } %>
                    </div>
                    <div class="col-md-6 align-self-center">
                        <h2 class="mg-md">
                            <%= content.title %>
                        </h2>
                        <h3 class="mg-md">
                            <%= content.subtitle %>
                        </h3>
                        <p>
                            <%- content.code %>
                        </p>
                        <a href="/haberler/<%= content.name %>.html" class="btn btn-d btn-lg">More Info</a>
                    </div>
                </div>
            </div>
        </div>
    <% }) %>

    <!-- ScrollToTop Button -->
    <a class="bloc-button btn btn-d scrollToTop" onclick="scrollToTarget('1',this)"><span
                class="fa fa-chevron-up"></span></a>
    <!-- ScrollToTop Button END-->

    <%- include partials/footer.ejs %>
</div>
<!-- Main container END -->

<%- include partials/scripts.ejs -%>
<!-- Additional JS END -->

<!-- Preloader -->
<div id="page-loading-blocs-notifaction" class="page-preloader"></div>
<!-- Preloader END -->

</body>
</html>
