<!DOCTYPE html>
<html>
<%- include partials/head.ejs -%>
<body>
<!-- Main container -->
<div class="page-container">

    <!-- bloc-0 -->
    <%- include partials/menu.ejs -%>
    <!-- bloc-0 END -->

    <!-- bloc-8 -->
    <div class="bloc l-bloc" id="bloc-8">
        <div class="container bloc-lg">
            <div class="row">
                <div class="col-md-6">
                    <div class="mx-auto d-block blocsapp-device blocsapp-device-imac">
                        <img src="img/lazyload-ph.png" data-src="/img/imac-screen.jpg" class="img-fluid lazyload"
                             alt="imac screen"/>
                    </div>
                </div>
                <div class="align-self-center col-md-6">
                    <h2 class="mg-md">
                        Feature Title
                    </h2>
                    <h3 class="mg-md">
                        A more descriptive sub heading.
                    </h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                        Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus
                        mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa
                        quis enim.
                    </p><a href="index.html" class="btn btn-d btn-lg">More Info</a>
                </div>
            </div>
        </div>
    </div>
    <!-- bloc-8 END -->

    <!-- bloc-9 -->
    <div class="bloc l-bloc" id="bloc-9">
        <div class="container bloc-lg">
            <div class="row">
                <div class="col-md-4 col-lg-3 offset-lg-1 align-self-center">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="mg-clear text-center">
                                Basic
                            </h3>
                        </div>
                        <img src="img/lazyload-ph.png" data-src="img/placeholder-image.png"
                             class="img-fluid mx-auto d-block lazyload" alt="placeholder image"/>
                        <div class="card-body">
                            <ul class="list-unstyled">
                                <li>
                                    <p class="text-center">
                                        Awesome feature one
                                    </p>
                                </li>
                                <li>
                                    <p class="text-center">
                                        Awesome feature two
                                    </p>
                                </li>
                                <li>
                                    <p class="text-center">
                                        Awesome feature three
                                    </p>
                                </li>
                                <li>
                                    <p class="text-center">
                                        Awesome feature four
                                    </p>
                                </li>
                            </ul>
                        </div>
                        <div class="card-footer">
                            <a href="index.html" class="btn btn-d btn-lg btn-block">Buy Now</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mt-3 mt-md-0 col-lg-4">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="mg-clear text-center">
                                Standard
                            </h3>
                        </div>
                        <img src="img/lazyload-ph.png" data-src="img/placeholder-image.png"
                             class="img-fluid mx-auto d-block lazyload" alt="placeholder image"/>
                        <div class="card-body">
                            <ul class="list-unstyled">
                                <li>
                                    <p class="text-center">
                                        Awesome feature one
                                    </p>
                                </li>
                                <li>
                                    <p class="text-center">
                                        Awesome feature two
                                    </p>
                                </li>
                                <li>
                                    <p class="text-center">
                                        Awesome feature three
                                    </p>
                                </li>
                                <li>
                                    <p class="text-center">
                                        Awesome feature four
                                    </p>
                                </li>
                            </ul>
                        </div>
                        <div class="card-footer">
                            <a href="index.html" class="btn btn-d btn-lg btn-block">Buy Now</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mt-3 mt-md-0 col-lg-3 align-self-center">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="mg-clear text-center">
                                Pro
                            </h3>
                        </div>
                        <img src="img/lazyload-ph.png" data-src="img/placeholder-image.png"
                             class="img-fluid mx-auto d-block lazyload" alt="placeholder image"/>
                        <div class="card-body">
                            <ul class="list-unstyled">
                                <li>
                                    <p class="text-center">
                                        Awesome feature one
                                    </p>
                                </li>
                                <li>
                                    <p class="text-center">
                                        Awesome feature two
                                    </p>
                                </li>
                                <li>
                                    <p class="text-center">
                                        Awesome feature three
                                    </p>
                                </li>
                                <li>
                                    <p class="text-center">
                                        Awesome feature four
                                    </p>
                                </li>
                            </ul>
                        </div>
                        <div class="card-footer">
                            <a href="index.html" class="btn btn-d btn-lg btn-block">Buy Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- bloc-9 END -->

    <!-- bloc-10 -->
    <div class="bloc l-bloc" id="bloc-10">
        <div class="container bloc-lg">
            <div class="row row-style">
                <div class="col-md-2 offset-lg-2">
                    <h3 class="mg-md text-center ">
                        <strong>220K</strong>
                    </h3>
                    <h4 class="mg-md text-center ">
                        Saved User
                    </h4>
                </div>
                <div class="col-md-2 offset-lg-1">
                    <h3 class="mg-md text-center ">
                        <strong>20K</strong>
                    </h3>
                    <h4 class="mg-md text-center ">
                        App Download
                    </h4>
                </div>
                <div class="col-md-2 offset-lg-1">
                    <h3 class="mg-md text-center ">
                        <strong>%99.99</strong>
                    </h3>
                    <h4 class="mg-md text-center ">
                        Uptime
                    </h4>
                </div>
            </div>
        </div>
    </div>
    <!-- bloc-10 END -->

    <!-- bloc-11 -->
    <div class="bloc l-bloc" id="bloc-11">
        <div class="container bloc-lg">
            <div class="row">
                <div class="col-sm-6 offset-sm-3 col-lg-2 offset-lg-5">
                    <img src="img/lazyload-ph.png" data-src="img/placeholder-user.png"
                         class="img-fluid rounded-circle lazyload" alt="placeholder user"/>
                </div>
                <div class="col-12 col-11 col-lg-8 offset-lg-2">
                    <h3 class="mg-md text-center ">
                        <i>Satış danışmanımız Mert Akdağ :)</i><br>
                    </h3>
                    <h4 class="mg-md text-center ">
                        <strong>Charles Eames</strong><br>
                    </h4>
                </div>
            </div>
        </div>
    </div>
    <!-- bloc-11 END -->


    <!-- ScrollToTop Button -->
    <a class="bloc-button btn btn-d scrollToTop" onclick="scrollToTarget('1',this)"><span
                class="fa fa-chevron-up"></span></a>
    <!-- ScrollToTop Button END-->

    <%- include partials/footer.ejs %>
</div>
<!-- Main container END -->

<%- include partials/scripts.ejs -%>
<!-- Additional JS END -->

<!-- Preloader -->
<div id="page-loading-blocs-notifaction" class="page-preloader"></div>
<!-- Preloader END -->

</body>
</html>
