<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
    <link rel="shortcut icon" type="image/png" href="favicon.png">

    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css?1538">
    <link rel="stylesheet" type="text/css" href="/style.css?4064">
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css">

    <title><%= page && page.title %></title>

</head>

<body>
