<% function recursiveMenuItem(menuItem) { %>
    <li class="nav-item">
        <% if (menuItem.children && menuItem.children.length) { %>
            <div class="dropdown">
                <a href="#" class="nav-link dropdown-toggle a-btn" data-toggle="dropdown"
                   aria-expanded="false">Hakkımızda</a>
                <ul class="dropdown-menu" role="menu">
                    <% (menuItem.children).forEach(recursiveMenuItem) %>
                </ul>
            </div>
        <% } else { %>
            <a href="<%= menuItem.view %>.html" class="nav-link a-btn ltc-rich-electric-blue">
                <%= menuItem.title %>
            </a>
        <% } %>
    </li>
<% } %>

<!-- bloc-0 -->
<div class="bloc bgc-white l-bloc" id="bloc-0">
    <div class="container bloc-sm">
        <div class="row">
            <div class="col">
                <nav class="navbar row navbar-expand-md navbar-light d-flex animated fadeIn none animSpeedLazy"
                     role="navigation" data-appear-anim-style="fadeIn">
                    <button id="nav-toggle" type="button" class="ml-auto ui-navbar-toggler navbar-toggler border-0 p-0"
                            data-toggle="collapse" data-target=".navbar-29353" aria-expanded="false"
                            aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse navbar-29353 special-dropdown-nav">
                        <ul class="site-navigation nav navbar-nav ml-auto animated fadeIn"
                            data-appear-anim-style="fadeIn">
                            <% if (menus && menus.length) {
                                (menus || []).forEach(recursiveMenuItem)
                            } %>
                        </ul>
                    </div>
                    <div class="navbar-content-area d-block col-12 col-md-3 col-lg-2">
                        <div class="row">
                            <% if(data.facebook) { %>
                                <div class="align-self-center col-4 text-left">
                                    <a href="<%= data.facebook.content %>"><span
                                                class="fa fa-facebook-official icon-md d-lg-block   d-none icon-rich-electric-blue"></span></a>
                                </div>
                            <% } %>
                            <% if(data.twitter) { %>
                                <div class="align-self-center col-4 text-center">
                                    <a href="<%= data.twitter.content %>"><span
                                                class="fa fa-twitter float-md-none icon-md d-lg-block   d-none icon-rich-electric-blue"></span></a>
                                </div>
                            <% } %>
                            <% if(data.instagram) { %>
                                <div class="align-self-center col-4 text-right">
                                    <a href="<%= data.twitter.content %>"><span
                                                class="fa fa-instagram float-lg-none icon-md d-lg-block   d-none icon-rich-electric-blue"></span></a>
                                </div>
                            <% } %>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- bloc-0 END -->
