<!-- bloc-13 -->
<div class="bloc l-bloc " id="bloc-13">
    <div class="container bloc-lg">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <h4 class="mg-md text-sm-left text-center">
                    About
                </h4><a href="index.html" class="a-btn a-block footer-link">The Team</a><a href="index.html"
                                                                                           class="a-btn a-block footer-link">Contact
                    Us</a>
            </div>
            <div class="col-md-3 col-sm-6">
                <h4 class="mg-md text-sm-left text-center">
                    Get the app
                </h4><a href="index.html" class="a-btn a-block footer-link">Android</a><a href="index.html"
                                                                                          class="a-btn a-block footer-link">iOS</a>
            </div>
            <div class="col-md-3 col-sm-6">
                <h4 class="mg-md text-sm-left text-center">
                    Follow Us
                </h4><a href="index.html" class="a-btn a-block footer-link">Twitter</a><a href="index.html"
                                                                                          class="a-btn a-block footer-link">Facebook</a>
            </div>
            <div class="col-md-3 col-sm-6">
                <h4 class="mg-md text-sm-left text-center">
                    Connect
                </h4>
                <div class="row">
                    <div class="col-6 col-sm-2 col offset-sm-0">
                        <div class="text-center">
                            <a href="https://blocsapp.com/"><span class="fa fa-facebook-official icon-md"></span></a>
                        </div>
                    </div>
                    <div class="col-6 col-sm-2">
                        <div class="text-center">
                            <a href="https://blocsapp.com/"><span class="fa fa-twitter icon-md"></span></a>
                        </div>
                    </div>
                    <div class="col-6 col-sm-2">
                        <div class="text-center">
                            <a href="https://blocsapp.com/"><span class="fa fa-instagram icon-md"></span></a>
                        </div>
                    </div>
                    <div class="col-6 col-sm-2">
                        <div class="text-center">
                            <a href="https://blocsapp.com/"><span class="fa fa-envelope-o icon-md"></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- bloc-13 END -->
